:root {
    /* Color Palette*/
    --primary-color: #37d6eb;
    --secondary-color: #f66209;
    --light-color: #EDEEEA;
    --white-color: #fdfdfe;
    --dark-color: #472637;

    --info-color: #fdbd3a;
    --success-color: #37aba0;
    --warning-color: #c1dbeb;
    --danger-color: #efa7b3;
    --pink-pastel-color: #DA8060;
    --pink-pastel-color-2: #EED6CE;
    --teal-pastel-color: #006d77;
    --blue-lighten-0 : #e0eefc;
    --blue-lighten-1: #c4e2ff;
    --blue-lighten-2: #a3caee;
    --blue-lighten-3: #006daa;

    --blue-darken-1: #0353a4;
    --blue-darken-2: #003559;
    --blue-darken-3: #061a40;
    
    

    /* Base Font Sizes */
    --base-font-size-xs: 14px;
    --base-font-size-small: 16px;
    --base-font-size-medium: 18px;
    --base-font-size-large: 20px;
    --base-font-size-xl: 22px;
    
    /* Small Font Sizes */
    --footer-size-xs: calc(var(--base-font-size-xs) * 0.80);
    --footer-size-small: calc(var(--base-font-size-small) * 0.80);
    --footer-size-medium: calc(var(--base-font-size-medium) * 0.80);
    --footer-size-large: calc(var(--base-font-size-large) * 0.80);
    --footer-size-xl: calc(var(--base-font-size-xl) * 0.80);
    --base-footer-size: var(--footer-size-xl);

    /* Font Sizes */
    --font-size-xs: var(--base-font-size-xs);
    --font-size-small: var(--base-font-size-small);
    --font-size-medium: var(--base-font-size-medium);
    --font-size-large: var(--base-font-size-large);
    --font-size-xl: var(--base-font-size-xl);
    --base-font-size: var(--font-size-xl);

    /* Header Sizes */
    --header-size-xs: calc(var(--base-font-size-xs) * 2.50);
    --header-size-small: calc(var(--base-font-size-small) * 2.75);
    --header-size-medium: calc(var(--base-font-size-medium) * 3);
    --header-size-large: calc(var(--base-font-size-large) * 3.25);
    --header-size-xl: calc(var(--base-font-size-xl) * 3.5);
    --base-header-size: var(--header-size-xl);

    /* Subheader Sizes */
    --subheader-size-xs: calc(var(--base-font-size-xs) * 1.25);
    --subheader-size-small: calc(var(--base-font-size-small) * 1.50);
    --subheader-size-medium: calc(var(--base-font-size-medium) * 1.75);
    --subheader-size-large: calc(var(--base-font-size-large) * 2);
    --subheader-size-xl: calc(var(--base-font-size-xl) * 2.25);
    --base-subheader-size: var(--subheader-size-xl);
    /* Breakpoints */
    --small-screen: 480px;
    --medium-screen: 768px;
    --large-screen: 1024px;
    --extra-large-screen: 1280px;
}