@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Elsie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital@0;1&display=swap');

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--blue-darken-3);
  transition: 0.4s;
  border-radius: 12px;
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--pink-pastel-color-2);
    color: var(--dark-color);

  }
}

.wrapper {
  display: grid;
  place-items: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  text-align: center;
}

.footer {
  font-style: italic;
  white-space: pre-wrap;
}

.mobile-inactive {
  display: block;
}

.mobile-active {
  display: none;
}
@media (min-width: 1281px) {
  .header {
    font-size: var(--header-size-xl);
  }

  .subheader {
    font-size: var(--subheader-size-xl);
  }

  .footer {
    font-size: var(--footer-size-xl)
  }

  .text {
    font-size: var(--font-size-xl)
  }

  .container {
    width: 80%;
  }
  .wrapper {
    padding: 32px;
  }

  a {
    font-size: var(--footer-size-xl);
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    font-size: var(--header-size-large);
  }

  .subheader {
    font-size: var(--subheader-size-large);
  }

  .footer {
    font-size: var(--footer-size-large)
  }

  .text {
    font-size: var(--font-size-large)
  }

  .container {
    width: 85%;
  }
  .wrapper {
    padding: 24px;
  }

  a {
    font-size: var(--footer-size-large);
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    font-size: var(--header-size-medium);
  }

  .subheader {
    font-size: var(--subheader-size-medium);
  }

  .footer {
    font-size: var(--footer-size-medium)
  }

  .text {
    font-size: var(--font-size-medium)
  }

  .container {
    width: 90%;
  }
  .wrapper {
    padding: 16px;
  }

  a {
    font-size: var(--footer-size-medium);
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    font-size: var(--header-size-small);
  }

  .subheader {
    font-size: var(--subheader-size-small);
  }

  .footer {
    font-size: var(--footer-size-small)
  }

  .text {
    font-size: var(--font-size-small)
  }

  .container {
    width: 95%;
  }
  .wrapper {
    padding: 8px;
  }

  a {
    font-size: var(--footer-size-small);
  }

}

@media (max-width: 480px) {
  .header {
    font-size: var(--header-size-xs);
  }

  .subheader {
    font-size: var(--subheader-size-xs);
  }

  .footer {
    font-size: var(--footer-size-xs)
  }

  .text {
    font-size: var(--font-size-xs)
  }

  .container {
    width: 96%;
  }

  .wrapper {
    padding: 4px;
    padding-top: 20px;
  }

  a {
    font-size: var(--footer-size-xs);
  }

  .mobile-inactive {
    display: none;
  }

  .mobile-active {
    display: block;
  }

}